div {
  color: #FFFFFF;
}
@media screen and (min-width: 601px) {
  .heading {
    font-size: 60px;
    height: 70%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .notyet {
    font-size: 60px;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .updated {
    font-size: 20px;
    height: 150%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .credit {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    height: 70%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .notyet {
    font-size: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .updated {
    font-size: 15px;
    height: 130%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .credit {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem
  }
}
